/* Header styling */
.App-header {
  background-color: #000; /* Black background for header */
  color: #00FFFF; /* Neon blue text */
  padding: 20px;
  height: 80px;
  position: relative;
}

/* Logo styling */
.App-logo {
  margin-top: -35px;   /* Adjust this value to move the logo up */
  margin-left: -30px;  /* Adjust this value to move the logo left */
  width: 150px;       /* Keep logo size */
  height: auto;
}


/* Navigation buttons */
.App-nav {
  position: absolute;  /* Make the nav section position relative to the screen */
  top: 35px;           /* Distance from the top of the screen */
  right: 30px;         /* Distance from the right of the screen */
}

/* Button styling */
.nav-button {
  background-color: #00FFFF; /* Neon blue button background */
  color: black;              /* Button text color */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.nav-button + .nav-button {
  margin-left: 20px;         /* Increase the gap between the buttons */
}

.nav-button:hover {
  background-color: #00ced1; /* Slightly darker color on hover */
}

